* {
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
}

.dish-list {
  text-align: center;
}

.ul {
  display: inline-block;
}

.li {
  color: lightgray;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
